
.icon-retweet:before { content: '\e800'; } /* '' */
.icon-plus-circled:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\e804'; } /* '' */
.icon-user-delete:before { content: '\e805'; } /* '' */
.icon-thumbs-down-2:before { content: '\e806'; } /* '' */
.icon-thumbs-up-2:before { content: '\e807'; } /* '' */
.icon-edit:before { content: '\e808'; } /* '' */
.icon-edit-1:before { content: '\e809'; } /* '' */
.icon-power:before { content: '\e80a'; } /* '' */
.icon-off:before { content: '\e80b'; } /* '' */
.icon-upload:before { content: '\e80c'; } /* '' */
.icon-download:before { content: '\e80d'; } /* '' */
.icon-logout-1:before { content: '\e80e'; } /* '' */
.icon-logout-2:before { content: '\e80f'; } /* '' */
.icon-floppy:before { content: '\e810'; } /* '' */
.icon-search-outline:before { content: '\e811'; } /* '' */
.icon-user-add-outline:before { content: '\e812'; } /* '' */
.icon-user:before { content: '\e813'; } /* '' */
.icon-user-1:before { content: '\e814'; } /* '' */
.icon-th-list:before { content: '\e815'; } /* '' */
.icon-mail:before { content: '\e816'; } /* '' */
.icon-lock:before { content: '\e817'; } /* '' */
.icon-list:before { content: '\e818'; } /* '' */
.icon-align-justify:before { content: '\e819'; } /* '' */
.icon-retweet-1:before { content: '\e81a'; } /* '' */
.icon-forward:before { content: '\e81b'; } /* '' */
.icon-bell:before { content: '\e81c'; } /* '' */
.icon-menu-outline:before { content: '\e81d'; } /* '' */
.icon-home-outline:before { content: '\e81e'; } /* '' */
.icon-download-outline:before { content: '\e81f'; } /* '' */
.icon-upload-outline:before { content: '\e820'; } /* '' */
.icon-folder:before { content: '\e821'; } /* '' */
.icon-folder-open:before { content: '\e822'; } /* '' */
.icon-cog-alt:before { content: '\e823'; } /* '' */
.icon-cog:before { content: '\e824'; } /* '' */
.icon-wrench:before { content: '\e825'; } /* '' */
.icon-check:before { content: '\e826'; } /* '' */
.icon-cancel:before { content: '\e827'; } /* '' */
.icon-keyboard:before { content: '\e828'; } /* '' */
.icon-archive:before { content: '\e829'; } /* '' */
.icon-cw:before { content: '\e82a'; } /* '' */
.icon-arrows-ccw:before { content: '\e82b'; } /* '' */
.icon-th-list-outline:before { content: '\e82c'; } /* '' */
.icon-cog-outline:before { content: '\e82d'; } /* '' */
.icon-bell-1:before { content: '\e82e'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e82f'; } /* '' */
.icon-resize-full:before { content: '\e830'; } /* '' */
.icon-resize-small:before { content: '\e831'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-download-1:before { content: '\f02e'; } /* '' */
.icon-upload-1:before { content: '\f02f'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-add:before { content: '\f196'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-transgender-alt:before { content: '\f225'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */